@model Customized_Shoes.dll.Models.ViewModels.ShoesCategoryVM

@{
    ViewBag.Title = "詳細資訊";
}

<h2>詳細資訊</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShoesCategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShoesCategoryName)
        </dd>

    </dl>
</div>
<p class="btn btn-dark">
    @Html.ActionLink("回到分類列表", "Index")
</p>
