
@{
    ViewBag.Title = "ConfirmCreate";
}

<h2>ConfirmCreate</h2>

<div class="right">
    <a href="@Url.Action("OrdersIndex")" class="btn btn-primary">
        <i class="bi bi-plus-lg"></i> 返回
    </a>
</div>